h1 {
	font-family: 'Ravi Prakash';
	font-family: 'Baloo';
}

button {
	font-family: 'Ravi Prakash';
	font-family: 'Baloo';
}

body {
	background-image: url("Wiki-background_update_2.jpg");
}



.thumbnail {
	margin-left: 300px;
}